<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.demo.mapper.FileMapper">

  <resultMap id="fileMap" type="com.pig4cloud.pig.demo.entity.FileEntity">
        <id property="id" column="id"/>
        <result property="filename" column="filename"/>
        <result property="filetype" column="filetype"/>
        <result property="filecapacity" column="filecapacity"/>
        <result property="flag" column="flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
  </resultMap>
</mapper>
